/*reserve css*/
#contents.fix {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
}
.hide {
  display: none;
}
/*reset*/
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
li {
  list-style: none;
}
* {
  margin:0;
  padding: 0;
  font-weight: normal;
  font-size: medium;
  line-height: normal;
}
/*style*/
body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-image: radial-gradient(ellipse at center, rgba(10,5,0,0.4) 40%,rgba(0,0,0,0.45) 60%,rgba(0,0,0,1) 100%) , url(../img/codePen_Minecraft_1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
/*https://web.havincoffee.com/design/2020/09/2009281.html*/
html {
  scroll-behavior: smooth;
}
/*header*/
header {
  z-index: 50;
  position: sticky;
  top: 0;
  height: 80px;
  background: #404040;
}
#header_hanb, .header_hanb_icon {
  display: none;
}
header .header_form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  width: 1200px;
}
header .header_form nav {
  text-align: center;
  width: 40%;
  font-size: 12px;
}
header .header_form nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header .header_form nav ul li, header .header_form nav ul li a {
  font-size: small;
  font-weight: bold;
  line-height: 80px;
  margin: 0;
  color: #fff;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  text-decoration-color: #fff;
}
header .header_form h1 {
  margin:0;
  text-align: center;
  width: 20%;
  height: 100%;
  display: block;
}
header .header_form h1 img {
  height: 80px;
  object-fit: contain;
}
header img:hover {
  opacity: 0.8;
}
/*ForHanburgerButton*/
#hanb {
  display: none;
}
.footer-close,
.myPointBotton {
  z-index: 100;
  text-shadow: 2px 2px 2px #696969;
  position: absolute; /*ページに固定*/
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: #689efb; /*ボックス背景色*/
  color: #fff; /*文字色*/
  text-align: center;
  border: 4px outset #689efb;
  transition: 0.3s ease-in-out;
}
.myPointBotton {
  font-size: 30px;
  top: 60px;
  opacity: 0.5;
  display: none;
}
.myPointBotton:active {
  opacity: 1;
}
.footer-close-button {
  margin: 0 auto;
  width: 30px; /*アイコンサイズ*/
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-close-button .pen,
.footer-close-button .hidden {
  margin-top: 20px;
}
.footer-close-button i {
  padding: 0;
  font-size: 120%;
}
.footer-close-button .hidden {
  display: none;
}
#hanb:checked ~ .footer-close {
  transition: 0.3s ease-in-out;
  right: 250px;
}
#hanb:checked ~ .footer-close .footer-close-button .hidden {
  display: block;
}
#hanb:checked ~ .footer-close .footer-close-button .pen {
  display: none;
}
#hanb:checked ~ main {
  transform: rotateY(0deg);
}
/*main*/
#contents {
  width: 100%;
}
.mainForm {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 840px;
}
main {
  z-index: 50;
  transition: 0.3s ease-in-out;
  box-shadow: 1px 1px 2px #a9a9a9;
  position: absolute; /*ページに固定*/
  top: 0;
  right: 0;
  width: 230px;
  height: 490px;
  padding: 0 10px 10px 10px;
  background: linear-gradient(150deg, #e0ffff 75%, #afeeee);
  border: 2px ridge #e0ffff;
  overflow: hidden auto;
  transform-origin: 255px 0 0;
  transform: rotateY(90deg);
}
main .forScroll {
  height: 800px;
}
main .float {
  float: left;
  margin-right: 5px;
}
main .border {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #000;
}
main p.OK,
main p.myPoint {
  margin: 0;
  width: 80px;
  height: 30px;
  margin-right: 20px;
  float: left;
}
main p.OK input[name="submit"] {
  font-size: 40%;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  padding: 0;
  border: none;
  background: none;
  height: 30px;
}
main p.OK label,
main p.myPoint {
  font-size: 30px;
  text-align: center;
  margin: auto 0;
}
main p.myPoint span {
  text-align: left;
  display: block;
  font-size: 40%;
  font-weight: bold;
  padding-top: 5px;
}
main p.OK label i,
main p.myPoint i {
  float: left;
  margin-right: 5px;
}
main p.OK label:hover,
main p.myPoint:hover {
  opacity: 0.5;
}
/*スクロールバーbyCodepenFromPin*/
main::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}
main::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}
/*本体*/
aside {
  margin: 0 auto;
  width: 840px;
}
table {
  margin-top: 10px;
  max-width: 570px;
  max-height: 570px;
  font-size: xx-small;
  overflow: scroll;
  display: inline-block;
  border-collapse: collapse;
  background-color: #cdcdcd;
}
th,
td {
  color: #fff;
  position: relative;
  border: 1px solid #000000;
}
td {
  min-height: 2em;
  min-width: 2em;
  padding: 0.3em;
  text-align: center;
  vertical-align: middle;
}
/*スクロール固定*/
/*https://since-inc.jp/blog/8675*/
.tableTop,
.fixed,
.tableLeft,
.tableLeftNone,
.tableTopNone {
  position: sticky;
  left: 0;
  top: 0;
  color: #fff;
  background: #333;
}
.tableTop:before,
.fixed:before,
.tableLeft:before,
.tableLeftNone:before,
.tableTopNone:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
  border: 2px outset #ccc;
  box-sizing: border-box;
}
.fixed {
  z-index: 2;
  background: #ffffff;
}
.tableTop,
.tableLeft,
.tableLeftNone,
.tableTopNone {
  z-index: 1;
}
.tableLeftNone,
.tableTopNone {
  color: #333;
  background-color: #333;
}
.tableTopNone {
  min-width: 50px;
}
.tableLeftNone {
  height: 50px;
}
/*チャンクの境目*/
.x16.tableTop,
.z16 .tableLeft,
.x15.tableTop,
.z15 .tableLeft {
  background-color: #006400;
}
td.x15,
tr.z15,
td.x16,
tr.z16 {
  background-color: #228b22;
}
/*自分の場所*/
.space {
  display: none;
}
#here {
  padding: 0;
  margin: 0;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  background: rgba(255, 0, 0, 1);
  border: 0.5px solid #3f3f3f;
  border-radius: 1em;
}
/*footer*/
footer {
  text-align: center;
  background: #404040;
  height: 80px;
  padding-top: 10px;
}
footer p {
  margin-bottom: 10px;
}
footer small, footer a {
  color: #fff;
}
footer a {
  text-decoration: underline;
}
footer img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}
/*2画面スマホ用-840-590px>>*/
@media screen and (max-width: 840px) {
  * {
    float: none;
    position: static;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  header,
  #contents {
    width: 100%;
  }
  header {
    font-size: 70%;
  }
  aside {
    width: 100%;
  }
  aside h3 {
    padding-bottom: 0.05em;
    font-size: 80%;
  }
  .mainForm {
    width: 100%;
  }
  .footer-close {
    opacity: 0.5;
  }
  #hanb:checked ~ .footer-close {
    opacity: 1;
  }
  table {
    width: 100%;
  }
  .myPointBotton {
    display: block;
  }
  #hanb:checked ~ .myPointBotton {
    display: none;
  }
  footer p {
    font-size: 10px;
  }
}
/*for PC*/
@media screen and (min-width: 1200px) {
  header .header_2windows {
    display: none;
  }
}
@media screen and (min-width: 920px) {
  main section .text_box {
    position: absolute;
    top: 50%;
    -webkit-transform : translate(0,-50%);
    transform : translate(0,-50%);
    width: 450px;
    color: #fff;
    text-align: left;
  }
  main section:nth-child(even) img {
    float: left;
  }
  main section:nth-child(even) .text_box {
    right: 0;
    float: left;
    margin-left: 50px;
  }
  main section:nth-child(odd) img {
    float: right;
  }
  main section:nth-child(odd) .text_box {
    left: 0;
    float: right;
    margin-right: 50px;
  }
}
/*for 2 windows*/
@media screen and (max-width: 1200px) and (min-width: 640px) {
  header .header_form {
    display: none;
  }
  header .header_2windows img {
    margin:0 auto;
    display: block;
    height: 60px;
    object-fit: contain;
  }
  header .header_2windows nav {
    height: 20px;
    width: 100%;
  }
  header .header_2windows nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  header .header_2windows nav ul li, header .header_2windows nav ul li a {
    font-size: small;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    color: #fff;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    text-decoration-color: #fff;
  }
}
@media screen and (max-width: 920px) {
  main .center_form {
    width: 100%;
    position: relative;
  }
  main section .text_box {
    color: #fff;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  main h2 {
    font-size: x-large;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 5px;
  }
}
/*for smartphone*/
@media screen and (max-width: 640px) {
  header .header_form {
    display: none;
  }
  header, main {
    padding: 0 10px;
  }
  main h1 {
    margin: 0 auto 10px auto;
    width: 90%;
    font-size: 120%;
    border-bottom: 2px solid #fff;
  }
  main h2 {
    margin: 0 auto 10px auto;
    width: 90%;
    font-size: 110%;
    border-bottom: 2px solid #fff;
  }
  header .header_2windows img {
    margin:0 auto;
    display: block;
    object-fit: contain;
    height: 80px;
  }
  header .header_2windows nav ul li, header .header_2windows nav ul li a {
    font-size: small;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    color: #fff;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    text-decoration-color: #fff;
  }
  header .header_2windows nav ul li {
    padding-left: 1em;
    height: 20px;
    border-bottom: 1px solid #fff;
  }
  header .header_2windows nav ul li:hover, header .header_2windows nav ul li a:hover {
    background: #fff;
    color: black;
    text-decoration-color: black;
    text-decoration-line: none;
  }
  /*header hanburger button*/
  header .header_2windows nav {
    text-align: left;
    position: fixed;
    z-index: 25;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transform-origin: top left;
    transform: scale(0);
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  header .header_hanb_icon_form {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
  }
  .header_hanb_icon {
    top: 20px;
    left: 15px;
    background: forestgreen;
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg,forestgreen 0%,forestgreen 15%,darkslategray 15%,green 20%,green 80%,darkslategray 85%,forestgreen 85%,forestgreen 100%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header_hanb_icon span, .header_hanb_icon span::before, .header_hanb_icon span::after {
    content: '';
    display: block;
    width: 20px;
    height: 5px;
    background-image: linear-gradient(180deg,darkslategray 0%,darkgreen 25%,darkgreen 75%,mediumaquamarine 100%);
    position: relative;
    transition: all 0.5s ease-in-out;
  }
  .header_hanb_icon span::before {
    top: -8px;
  }
  .header_hanb_icon span::after {
    top: 3px;
  }
  #header_hanb:checked ~ .header_hanb_icon_form span {
    background-image: none;
    background-color: #fff;
    transform: scale(0.25) rotateZ(90deg) translate(-20px, 0px);
  }
  #header_hanb:checked ~ .header_hanb_icon_form span::before {
    background-image: none;
    background-color: #fff;
    transform: scale(4) rotateZ(-45deg) translate(5px, 0px);
  }
  #header_hanb:checked ~ .header_hanb_icon_form span::after {
    background-image: none;
    background-color: #fff;
    transform: scale(4) rotateZ(-135deg) translate(-5px, 0px);
  }
  #header_hanb:checked ~ .header_hanb_icon_form .header_hanb_icon {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    border-radius: 4px;
    background-image: linear-gradient(green 0%, lightgreen 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
    border-bottom: solid 2px green;
  }
  #header_hanb:checked ~ .header_hanb_icon_form .header_hanb_icon:active {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7);
    border-bottom: none;
  }
  #header_hanb:checked ~ nav {
    transform: scale(1);
    opacity: 1;
  }
}
@media screen and (max-width: 400px) {
  main section img {
    width: 100%;
    height: auto;
  }
}
